@use "../vars" as vars;

/* CTA Dogs bg */
.cta-dogs__container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-image: url(vars.$cta-dogs-mobile-bottom),
    linear-gradient(103deg, #fceed5 6.43%, #fceed5 78.33%, #ffe7ba 104.24%);
  background-repeat: no-repeat;
  background-size: 100%, auto;
  background-position: bottom right, 0%;
  align-items: end;
}

@media (min-width: 768px) {
  .cta-dogs__container {
    grid-template-rows: none;
    grid-template-columns: repeat(2, 1fr);
    background-image: url(vars.$cta-dogs-blue-rect),
      linear-gradient(103deg, #fceed5 6.43%, #fceed5 78.33%, #ffe7ba 104.24%);
    background-size: cover, auto;
    background-position: top right, 0%;
  }
}

@media (min-width: 860px) {
  .cta-dogs__container {
    background-size: auto, auto;
  }
}

/* Filter Section */
.dog-list__card-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
}

@media (min-width: 400px) {
  .dog-list__card-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(1rem, 5vw, 2rem);
  }
}

@media (min-width: 768px) {
  .filter-section {
    display: grid;
    grid-template-columns: minmax(5rem, 7rem) 1fr;
    justify-content: space-between;
    gap: 2.5rem;
    overflow: hidden;
  }
}

@media (min-width: 900px) {
  .filter-section {
    grid-template-columns: minmax(7rem, 10rem) 1fr;
  }

  .dog-list__card-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media (min-width: 1300px) {
  .filter-section {
    grid-template-columns: minmax(14rem, 18.5rem) 1fr;
    gap: 4rem;
  }

  .dog-list__card-grid {
    gap: 2rem;
  }
}

//Color circle
.color-circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-inline: 5px;
  vertical-align: middle;
}
