@use "../vars" as vars;

/* Hero */
.hero-section__container {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 3fr;

  @media (min-width: 762px) {
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr;
  }
}

.hero-section__container::after {
  content: "";
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(vars.$hero-img-dot-rects), url(vars.$hero-img-big-rects);
  background-repeat: no-repeat;
  background-size: 30px, 120%;
  background-position: top 50px right 18%, bottom -150px left;

  @media (min-width: 470px) {
    right: -15%;
    background-size: 30px, 85%;
    background-position: top 19% right 25%, top 200px right 5%;
  }

  @media (min-width: 720px) {
    background-size: 30px, 70%;
  }

  @media (min-width: 1024px) {
    background-size: auto, 50%;
    background-position: top 15% right 65%, top 100px right 45%;
  }
}

.hero-section_content {
  position: relative;
  z-index: 10;
  align-self: self-start;
  height: 100%;

  &::after {
    @media (min-width: 765px) {
      content: "";
      position: absolute;
      z-index: -1;
      left: -20px;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url(vars.$hero-img-medium-rect-beige),
        url(vars.$hero-img-bottom-rect-beige);
      background-repeat: no-repeat;
      background-position: top left, bottom 65px right 45%;
    }
  }
}

.hero-img {
  position: absolute;
  bottom: 0;
  right: -15%;
  height: 100%;
  max-width: none;
  z-index: 10;

  @media (min-width: 762px) {
    bottom: -20px;
    right: -70%;
    height: 80%;
  }

  @media (min-width: 1024px) {
    bottom: 0;
    right: -12%;
    height: 90%;
  }

  @media (min-width: 1350px) {
    height: 105%;
  }
}

/* CTA Banner */
.cta-banner__container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  overflow: hidden;
  background-image: url(vars.$cta-banner-rect-blue);
  background-repeat: no-repeat;
  background-position: bottom -130px left;
}

.cta-banner__img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 11;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1 / 0.8;
}

.one-more-friend::before {
  content: "";
  position: absolute;
  width: 160%;
  height: 200%;
  bottom: -20%;
  right: -25%;
  z-index: -1;
  border-radius: 75px;
  background-image: url(vars.$cta-banner-rect-beige);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  transform: rotate(25deg);

  @media (min-width: 500px) {
    width: 160%;
    height: 200%;
    bottom: -20%;
    right: -35%;
    transform: rotate(170deg);
  }
}

@media (min-width: 880px) {
  .cta-banner__container {
    display: flex;
    flex-direction: column;
    background-position: bottom left;
  }

  .one-more-friend::before {
    width: 125%;
    transform: rotate(112deg);
    left: -50px;
    bottom: -60px;
  }

  .cta-banner__img {
    left: -10%;
    max-width: unset;
    max-height: unset;
    height: unset;
  }
}

@media (min-width: 1300px) {
  .cta-banner__img {
    left: 5%;
  }
}

/* CTA Adoption bg */
.cta-adoption__container {
  background-image: url(vars.$cta-adoption-top-rect),
    url(vars.$cta-adoption-bottom-rect);
  background-repeat: no-repeat;
  background-position: center left, bottom right;
}

/* Pet Knowledge */
.pet-knowledge-carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 11px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }

  @media screen and (max-width: 900px) {
    grid-auto-columns: calc((100% / 2) - 9px);
  }

  @media screen and (max-width: 500px) {
    grid-auto-columns: 100%;
  }
}

.card {
  scroll-snap-align: start;
  cursor: pointer;
}

.pet-knowledge-carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.arrow-btn {
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
  padding: 0.2rem;
  cursor: pointer;
  font-size: 1.25rem;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.7) 0px 2px 15px 0px;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 10;

  &#left {
    left: -10px;
  }

  &#right {
    right: -10px;
  }
}

@media (min-width: 768px) {
  .arrow-btn {
    height: 40px;
    width: 40px;
    padding: 0.3rem;

    &#left {
      left: -40px;
    }

    &#right {
      right: -40px;
    }
  }
}

.cutoff-text {
  --max-lines: 4;
  --line-height: 1.4;

  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);

  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    //so that the effect is only 1 line tall
    height: calc(1em * var(--line-height));
    width: 100%;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255));
  }
}
