/** BG IMAGE URLS */
//Hero
$hero-img-medium-rect-beige: "../images/pages/Home/Hero/MediumRectangleBeige.png";
$hero-img-bottom-rect-beige: "../images/pages/Home/Hero/BottomBeigeRectangle.png";
$hero-img-big-rect-beige: "../images/pages/Home/Hero/BigRectangleBeige.png";
$hero-img-big-rect-blue: "../images/pages/Home/Hero/BigRectangleBlue.png";
$hero-img-small-rect-blue: "../images/pages/Home/Hero/SmallRectangleBlue.png";
$hero-img-smaller-rect-beige: "../images/pages/Home/Hero/SmallerRectangleBeige.png";
$hero-img-small-rect-beige: "../images/pages/Home/Hero/SmallRectangleBeige.png";

//Cta Banner
$cta-banner-rect-blue: "../images/pages/Home/CTABanner/RectangleBlue.svg";
$cta-banner-rect-beige: "../images/pages/Home/CTABanner/RectangleBeige.svg";

//Cta adoption
$cta-adoption-top-rect: "../images/pages/Home/CTAAdoption/TopRectangle.svg";
$cta-adoption-bottom-rect: "../images/Pages/Home/CTAAdoption/BottomRectangle.svg";

/** Hero */
@media (min-width: 767px) {
  .hero-section_content::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: -20px;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url($hero-img-medium-rect-beige),
      url($hero-img-bottom-rect-beige);
    background-repeat: no-repeat;
    background-position: top left, bottom 65px right 45%;
  }
}

.hero-section__container {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.hero-section_content {
  position: relative;
  z-index: 10;
  align-self: self-start;
  height: 100%;
}

.hero-img__container img {
  position: absolute;
  bottom: 0;
  right: -20%;
  height: 100%;
  max-width: none;
  z-index: 10;
}

@media (min-width: 762px) {
  .hero-section__container {
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr;

    img {
      bottom: -20px;
      right: -70%;
      height: 80%;
    }
  }
}

@media (min-width: 870px) {
  .hero-img__container img {
    bottom: 0;
    right: -30%;
    height: 90%;
  }
}

@media (min-width: 1350px) {
  .hero-img__container img {
    bottom: -60px;
    right: -12%;
    height: 115%;
  }
}

.hero-section__container::after {
  content: "";
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url($hero-img-big-rect-beige), url($hero-img-big-rect-blue),
    url($hero-img-small-rect-blue), url($hero-img-smaller-rect-beige),
    url($hero-img-small-rect-beige);
  background-size: 115%, 115%, 15px, 20px, auto;
  background-repeat: no-repeat;
  background-position: bottom -15px left -115%, bottom -30px left -70%,
    top 16% right 12%, top 15% right 11%, top 9.5% right 11%;
}

@media (min-width: 500px) {
  .hero-section__container::after {
    right: -15%;
    background-size: 73%, 73%, 15px, 20px, auto;
    background-repeat: no-repeat;
    background-position: bottom -15px right, bottom -45px right,
      top 19% right 25%, top 17% right 25%, top 10% right 23%;
  }
}

@media (min-width: 1300px) {
  .hero-section__container::after {
    background-position: bottom right 43%, bottom -10px right 50%,
      top 15% right 63%, top 13% right 63%, top 5% right 61%;
    background-size: auto, auto, 23px, 28px, 18px;
  }
}

/* CTA Banner */
.cta-banner__container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  overflow: hidden;
  background-image: url($cta-banner-rect-blue);
  background-repeat: no-repeat;
  background-position: bottom -130px left;
}

.cta-banner__img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 11;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1 / 0.8;
}

.one-more-friend::before {
  content: "";
  position: absolute;
  width: 160%;
  height: 200%;
  bottom: -20%;
  right: -25%;
  z-index: -1;
  border-radius: 75px;
  background-image: url($cta-banner-rect-beige);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  transform: rotate(25deg);
}

@media (min-width: 500px) {
  .one-more-friend::before {
    width: 160%;
    height: 200%;
    bottom: -20%;
    right: -35%;
    transform: rotate(170deg);
  }
}

@media (min-width: 880px) {
  .cta-banner__container {
    display: flex;
    flex-direction: column;
    background-position: bottom left;

    .one-more-friend::before {
      width: 125%;
      transform: rotate(112deg);
      left: -50px;
      bottom: -60px;
    }
  }

  .cta-banner__img {
    left: -10%;
    max-width: unset;
    max-height: unset;
    height: unset;
  }
}

@media (min-width: 1300px) {
  .cta-banner__img {
    left: 5%;
  }
}

/* CTA Adoption bg */
.cta-adoption__container {
  background-image: url($cta-adoption-top-rect), url($cta-adoption-bottom-rect);
  background-repeat: no-repeat;
  background-position: center left, bottom right;
}

/* Pet Knowledge */
.arrow-btn {
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
  padding: 0.2rem;
  cursor: pointer;
  font-size: 1.25rem;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.7) 0px 2px 15px 0px;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 10;

  &#left {
    left: -10px;
  }

  &#right {
    right: -10px;
  }
}

@media (min-width: 768px) {
  .arrow-btn {
    height: 40px;
    width: 40px;
    padding: 0.3rem;

    &#left {
      left: -40px;
    }

    &#right {
      right: -40px;
    }
  }
}

.cutoff-text {
  --max-lines: 4;
  --line-height: 1.4;

  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);

  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    //so that the effect is only 1 line tall
    height: calc(1em * var(--line-height));
    width: 100%;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, rgb(255, 255, 255));
  }
}
